<!doctype html>
<head>
	<title>Word Spotter</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	
</head>



<script>
    $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false

        });

        $( "#opener" ).click(function() {
          $( "#dialog" ).dialog( "open" );
          $("#dialog").dialog({width: 800,height:700});

          $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
 
        });
      });
</script>

<div id="dialog">
		<style type="text/css">
			.user1, .user2, .user3 {
				display:inline-block;
				border: 1px solid #ededed; 
				cursor: pointer; 
				padding: 10px; 
				margin-bottom: 10px;}
			.active {
				border: 1px solid #0066cc; 
				background: #eeeeee;
			}
			.unique{
			    text-align:center;
			    /*border:1px solid #666;*/
			    margin-left: 5px;
			    margin-right: 5px;
			}

		</style>

      <h2>
      	<center>
      		Word Spotter
      	</center>
      </h2>
      <body>
      	<div class = "container-fluid">
      		<div class = "row-fluid">
      			<div style="margin-left: 120px; margin-right: 120px;">
      				<div class="unique">
	      				<img style="float: left; margin-left: -30%;" src="{{str0}}" class = "user1" width="75%" height="75%"  id = "0" name = "{{str0}}"/>
	      			    <img style="float: right; margin-right: -30%;"src="{{str1}}" class = "user1" width="75%" height="75%" id = "1" name = "{{str1}}"/>
	      			    <img style="float: left; margin-left: -30%;"src="{{str2}}" class = "user2" width="75%" height="75%" id = "2" name = "{{str2}}"/>
	      			    <img style="float: right; margin-right: -30%;" src="{{str3}}" class = "user2" width="75%" height="75%"  id = "3" name = "{{str3}}"/>
	      			    <img style="float: left; margin-left: -30%;"src="{{str4}}" class = "user3" width="75%" height="75%"  id = "4" name = "{{str4}}"/>
	      			    <img style="float: right; margin-right: -30%;" src="{{str5}}" class = "user3" width="75%" height="75%" id = "5" name = "{{str5}}"/>

	      			</div>
      			</div>
      		</div>
      		<div class = "row-fluid">
      			<div class = "col-md-5"></div>
      			{% csrf_token %}
      			<button type="button" class="btn btn-success" id = "go" style = "display: flex; justify-content: center;">Submit</button>
       
      		</div>
      	</div>
      </body>
      <script type="text/javascript">
      	$.ajaxSetup({ 
      	     beforeSend: function(xhr, settings) {
      	         function getCookie(name) {
      	             var cookieValue = null;
      	             if (document.cookie && document.cookie != '') {
      	                 var cookies = document.cookie.split(';');
      	                 for (var i = 0; i < cookies.length; i++) {
      	                     var cookie = jQuery.trim(cookies[i]);
      	                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
      	                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
      	                         break;
      	                     }
      	                 }
      	             }
      	             return cookieValue;
      	         }
      	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
      	             // Only send the token to relative URLs i.e. locally.
      	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      	         }
      	     } 
      	});
      </script>

      <script>
      	// initializing the array
      	var data = [];
      	var length = 6; // user defined length
       
      	for(var i = 0; i < length; i++) {
      	    data.push(0);
      	}
      	//console.log(data);
      	var img_id = 0;
       
      	$('.user1').on('click', function() {
      		var o = $(this);
      	    o.toggleClass('active');
      	    console.log(o[0].name);
      	    data[o[0].id] ^= true;
      	});
      	$('.user2').on('click', function() {
      		var o = $(this);
      	    o.toggleClass('active');
      	    console.log(o[0].name);
      	    data[o[0].id] ^= true;
      	});
      	$('.user3').on('click', function() {
      		var o = $(this);
      	    o.toggleClass('active');
      	    console.log(o[0].name);
      	    data[o[0].id] ^= true;
      	});
       
      	var s = document.querySelectorAll('.user1,.user2, .user3')

      	var final = {};
       
          $("#go").click(function(){
      		for(var i = 0; i < length; i++) {
      			// console.log(type(s));
      			var p = s[i].name;
      		    final[p] = data[i];
      		}
      		// console.log(typeof(final))
      	    (function submit(){
      		    $.ajax({
      		    	type:"POST",
      		    	url:"/spotter/submit/",
      		    	dataType:"json",
      		    	data: final,
      		    	success:function(resp){
      		    		// console.log("hello world");
      		    		alert ("Your response had been recieved. Press OK to confirm it.");
      		    		window.location.reload();
      		      	}
      		    });
      	    })();
          });

      </script>

    </div>

	<style type="text/css">
		.ui-dialog-titlebar-close {
    		visibility: hidden;
	}
	</style>
	<br>
	&nbsp; &nbsp;&nbsp; Click here to authenticate yourself: 
    <button id="opener">Word Spotter</button>

</html>


